header {
        width: 1000px;
        height: 60px;
        margin: auto;
        line-height: 60px;
        display: flex;
        .logo {
            width: 30%;
            img {
                width: 100%;
            }
        }

        ul {
            display: flex;
            font-weight: 300;
            color: white;
            align-items: center;
            font-size: 80%;
            font-weight: 500;
            text-transform: uppercase;
            width: 70%;
            li {
                margin-right: 3%;
                input {
                    border: none;
                    outline: none;
                    background-color: rgba(255, 255, 255, 0.227);
                    text-indent: 5%;
                    height: 30px;
                    border-radius: 20px;
                    &:hover {
                        background-color: rgba(255, 255, 255, 0.948);
                    }
                }
            }
        }
    }