$mainColor: #1D242B;
$letterColor: #727F8C;
$errorColor: #EE7000;
$hoverColor: #15BC31;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $mainColor;

    ul {
        list-style-type: none;
    }

    ul,
    a {
        text-decoration: none;
        outline: none;
    }

    a {
        color: white;
    }
}

.mainContainer {
    .home-container {
        height: max-content;
        width: 95%;
        margin: auto;

        .recent-reviews {
            height: max-content;
            display: flex;

            width: 100%;
            flex-wrap: wrap;

            h1 {
                width: 100%;
                margin-bottom: 20px;
            }


            .home-review-card {
                width: 20%;
                border-radius: 4px;

                div {
                    position: relative;
                    width: 100%;
                    .review-by {
                        height: 10%;
                        width: 100%;
                        bottom: 10%;
                        span {
                            cursor: pointer;
                            color: white;
                            font-weight: bold;

                            &:hover {
                                color: $hoverColor;
                            }
                        }
                    }

                    img {
                        border-radius: 4px;
                        border: 2px solid transparent;
                        object-fit: cover;
                        height: 200px;
                        width: 150px;

                        &:hover {
                            border: 2px solid $hoverColor;
                            cursor: pointer;
                        }
                    }
                }

                // 5 Star Rating Score
                %base-star {
                    display: inline-block;

                    &:after {
                        font-family: "FontAwesome";
                        font-size: 1em;
                        color: $letterColor;
                    }
                }

                ;

                %full-star {
                    &:after {
                        content: "\f005";
                    }
                }

                ;

                %half-star {
                    &:after {
                        content: "\f123";
                    }
                }

                ;

                %empty-star {
                    &:after {
                        content: "\f006";
                    }
                }

                .rating-score {
                    display: inline-flex;
                    flex-direction: row;
                    align-items: flex-start;
                    margin: 0;
                    padding: 0;

                    >.rating-score-item {
                        @extend %base-star;
                        @extend %empty-star;
                    }

                    @for $i from 1 through 5 {
                        &[data-rating='#{$i}'] {
                            >.rating-score-item:nth-child(-n + #{$i}) {
                                @extend %full-star;
                            }
                        }
                    }

                    @for $i from 0 through 4 {
                        &[data-rating='#{$i + 0.5}'] {
                            >.rating-score-item:nth-child(-n + #{$i}) {
                                @extend %full-star;
                            }

                            >.rating-score-item:nth-child(#{$i + 1}) {
                                @extend %half-star;
                            }
                        }
                    }
                }
            }
        }
    }
}