$letterColor: #99AABB;
$hoverColor: #15BC31;


.mainContainer {
    color: $letterColor;
    .reviewContainer {
        width: 900px;
        margin: auto;
        height: max-content;

        .review-body {
            height: max-content;
            font-weight: 800;
            margin-top: 20px;
        }


        padding: 1%;
        border: 1px solid $hoverColor;
        border-radius: 4px;
    }

    .comments {
        width: 900px;
        margin: auto;
        margin-top: 150px;

        h1 {
            text-align: center;
        }

        .comment {
            display: flex;
            height: 100px;
            width: 100%;
            margin: 2% 0;
            border-top: 1px solid $letterColor;

            .left {
                width: 20%;
                height: 100%;
                display: flex;
                align-items: center;
                .fa-trash {
                    display: inline-block;
                    &:hover {
                        color: $hoverColor;
                        cursor: pointer;
                    }
                }
            }

            .comment-body {
                width: 80%;
                word-wrap: break-word;
                height: 100px;
                padding: 2%;
                outline: none;
                padding: 1%;
                border-radius: 4px;
            }
        }

        .add-comment {
            textarea {
                width: 50%;
                height: 100%;
                background-color: $letterColor;
                border: none;
                outline: none;
                margin: auto;
                display: block;
                padding: 1%;
            }
        }

        button {
            margin-top: 10px;
            border: none;
            outline: none;
            border-radius: 4px;
            background-color: #15BC31;
            display: block;
            margin-left: auto;
            font-weight: bold;
            color: white;
            padding: 2% 4%;
            cursor: pointer;
        }

    }
}